{% extends "base.html" %}

{% block content %}
  <h1>Model: {{ car.model }}</h1>
  
  <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }}</p>
  
  <h3 style="display: inline-block;">Drivers</h3>
  {% if user in car.drivers.all %}
    <a href="{% url 'taxi:toggle-car-assign' pk=car.id %}" class="btn btn-danger" style="float: right; margin-top: 20px;">
      Delete me from this car
    </a>
  {% else %}
    <a href="{% url 'taxi:toggle-car-assign' pk=car.id %}" class="btn btn-success" style="float: right; margin-top: 20px;">
      Assign me to this car
    </a>
  {% endif %}
  
  <div style="clear: both;"></div>
  <br>
  
  {% if car.drivers.all %}
    {% for driver in car.drivers.all %}
      <p><strong>Username:</strong> {{ driver.username }}</p>
      <p><strong>Full name:</strong> {{ driver.first_name }} {{ driver.last_name }}</p>
      <p><strong>License number:</strong> {{ driver.license_number }}</p>
      <br>
    {% endfor %}
  {% else %}
    <p>No drivers assigned to this car.</p>
  {% endif %}
  
  <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-warning">Update</a>
  <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger">Delete</a>
{% endblock %}
