{% extends "base.html" %}

{% block content %}
  <h1>
    Driver: {{ driver.username }}
    {% if user == driver %} (Me){% endif %}
  </h1>
  
  <p><strong>First name:</strong> {{ driver.first_name }}</p>
  <p><strong>Last name:</strong> {{ driver.last_name }}</p>
  <p><strong>License number:</strong> {{ driver.license_number }}</p>
  
  <h3>Cars:</h3>
  {% if driver.cars.all %}
    <ul>
      {% for car in driver.cars.all %}
        <li>
          <a href="{% url 'taxi:car-detail' pk=car.id %}">
            {{ car.model }}
          </a>
          ({{ car.manufacturer.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No cars assigned.</p>
  {% endif %}
  
  <hr>
  <a href="{% url 'taxi:driver-update' pk=driver.id %}" class="btn btn-warning">
    Update license number
  </a>
  <a href="{% url 'taxi:driver-delete' pk=driver.id %}" class="btn btn-danger">
    Delete
  </a>
  <a href="{% url 'taxi:driver-list' %}" class="btn btn-secondary">
    Back to list
  </a>
{% endblock %}
